body {
	background-color: #f0f0f0;
}

.branding {
	background-color: #fff;
}

.navi-body {
	display: table;
	width: 960px;
}

.navi-body li {
	display: table-cell;
}

.entrylist-header,
.entrylist-item {
	display: block;
	border: none;
}

.entrylist-header-main {
	max-width: 100%;
	background-color: #fff;
	border: 1px solid #ccc;
	border-bottom: none;
	border-radius: 4px 4px 0 0;
}

.entrylist-item {
	display: block;
	border: 1px solid #ccc;
	background-color: #fff;
	border-top: none;
	border-bottom: none;
}

.entrylist-item > li {
	max-width: 100%;
	border-right: none;
	padding: 0 5px;
}

.entrylist-contents-title a {
	text-indent: -9999999px;
	line-height: 0;
	font-size: 16px;
	color: #105bbb;
}

.entrylist-contents-title {
	padding: 5px 5px 0;
	min-height: inherit;
	margin: 0 0 0px 0;
	border-top: none;
}

.entrylist-contents-title a::after {
	content: attr(title);
	display: block;
	text-indent: 0px;
	line-height: 1.2;
	margin-left: 121px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-right: 144px;
}

.entrylist-contents-body {
	display: none;
}

.entrylist-contents {
	border: none;
}

.entrylist-readmore {
	margin-top: 1px;
	padding: 5px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-top: none;
}

.entrylist-readmore a {
	color: #333;
	background: #e6e6e6;
	font-weight: bold;
}

.entrylist-contents-users a {
	padding: 0 15px;
	height: auto;
	display: inline-block;
}

.entrylist-contents-users span {
	color: inherit;
	font-size: inherit;
}

.entrylist-contents-users {
	font-size: 12px;
	display: inline-block;
	top: 5px;
}

.entrylist-contents-main {
	padding: 0 0 0;
	background: #fff;
	border-bottom: 1px solid #d6d6d6;
}

.entrylist-contents-domain {
	font-size: 12px;
	padding: 0px 0px 0;
	display: inline;
}

.entrylist-contents-meta {
	padding: 0 5px 5px;
	border-bottom: none;
	display: inline;
}

.entrylist-contents-meta li {
	display: inline-block;
}

.entrylist-contents-domain img {
	position: absolute;
	left: 113px;
	top: 5px;
}

.entrylist-contents-domain a span {
	display: inline;
	position: absolute;
	right: 30px;
	top: 5px;
	color: #666;
}

.entrylist-contents-tags {
	padding: 0;
	margin-top: -15px;
	justify-content: flex-end;
}

.entrylist-contents-tags li {
	line-height: 1;
	padding: 0;
	margin: 0;
}

.entrylist-contents-tags:before {
	content: 'タグ：';
	font-size: 13px;
	line-height: 1;
	display: inline-block;
}

.entrylist-contents-tags a {
	display: inline-block;
	font-size: 13px;
	line-height: 1;
	padding: 0 3px;
	margin: 0px 0px 0px 0px;
	color: #04715b;
	background-color: transparent;
	text-decoration: none;
	position: relative;
	border-radius: 0 2px 2px 0;
}

.entrylist-contents-tags a:before,
.entrylist-contents-tags a:after {
	display: none;
}

.entrylist-header-main .entrylist-image-entry .entrylist-contents-title {
	padding-right: 0;
}

.readlater-button {
	width: 23px;
	height: 18px;
	background-position: left top;
}

.entrylist-unit > h2,
.entrylist-issue-unit-hatena-news > h2 {
	background-color: #1255b7;
	line-height: 1;
	border-radius: 4px 4px 0 0;
	margin: 0;
}

.entrylist-unit > h2 a,
.entrylist-issue-unit-hatena-news > h2 a,
.entrylist-issue-unit-hatena-news h2 .entrylist-issue-unitTitle, .entrylist-issue-unit-hatena-news h2 .entrylist-title, .entrylist-issue-unit-weekly-hatena-blog h2 .entrylist-issue-unitTitle, .entrylist-issue-unit-weekly-hatena-blog h2 .entrylist-title {
	display: block;
	padding: 10px 10px;
	border-radius: 4px 4px 0 0;
	color: #fff;
}

.entrylist-issue-unitTitle, .entrylist-title {
	font-size: 13px;
	padding: 0 10px;
	line-height: 1;
	margin: 0;
	color: #fff;
	background-color: #1255b7;
}

.entrylist-issue-unit-hatena-news h2, .entrylist-issue-unit-weekly-hatena-blog h2 {
	background-position: 10px 10px;
	padding-left: 28px;
}

/*家電会議*/
.entrylist-kadenkaigi, .entrylist-unit {
	background-color: #fff;
}

.entrylist-kadenkaigi-title {
	background-color: #000;
	padding: 0;
	margin: 0;
	border-radius: 4px 4px 0 0;
}

.entrylist-kadenkaigi-title a {
	text-decoration: none;
	color: #fff;
	padding: 10px 10px;
	display: block;
}

.entrylist-issue-items {
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	display: block;
}

.entrylist-issue-items > li {
	max-width: inherit;
	box-sizing: border-box;
	border-right: none;
	padding: 0 5px;
}

.entrylist-kadenkaigi .entrylist-issue-contents {
	border: none;
	display: flex;
}

.entrylist-kadenkaigi-product {
	white-space: inherit;
	width: 100px;
}

.entrylist-issue-thumb {
	padding: 10px 10px 0;
}

.entrylist-issue-thumb span {
	width: 90px;
	height: 90px;
	border-radius: 4px;
	border: 1px solid #ccc;
}

.entrylist-contents-list .entrylist-contents-list-title {
	max-width: 630px;
}

/*エントリーページ*/
.entry-contents {
	display: block;
	background-color: #fff;
}

.entry-main {
	border: 1px solid #ccc;
	padding: 0 0px 0 0;
}

.entry-bookmark {
	border: none;
	margin: 0 0 10px 0;
}

.entry-relationContents-list {
	margin: 0 0 0px 0;
}

.entry-aside {
	padding: 10px 10px;
	border: 1px solid #ccc;
	border-top: none;
}

.entry-bookmarkUsers {
	margin: 0 0 0px;
}
