/*-----------------------------------------
Section 2
url-prefix("http://b.hatena.ne.jp/entry/")
-------------------------------------------*/
/*旧ブックマーク個別ページ*/
#header li { font-size: 100% !important; }
#hatena-bookmark-entry #container { max-width: 960px !important; margin: 0 auto !important; }

/*全体の幅*/
#hatena-bookmark-entry #container .curvebox-body { padding: 10px 20px 0 20px !important; }
/*サイドバー削除*/
#hatena-bookmark-entry #sidebar { display: none !important; }

#entry-info #ad { min-height: auto !important; }
.bookmark-list li { padding: 6px 10px 6px 25px !important; overflow: hidden; line-height: 1.3!important; }
.bookmark-list li:nth-child(odd) { background-color: #F1F1F1 !important; }
.bookmark-list img.profile-image { float: none !important; margin: 0 0 0 -20px !important; width: 16px !important; height: 16px !important; vertical-align: middle; }
.bookmark-list li div.header, .comment-container { display: inline !important; }
.bookmark-list span.comment { padding: 0 !important; color: #000 !important; font-size: 100% !important; }
#entry-content, #hatena-bookmark-entry blockquote { font-size: 100% !important; }
.tweets { display: none !important; }

/*新*/
body { background-color: #F0F0F0 !important; }
div.box-wrap.box2.mix div.box3_1.notitle,
div.box-wrap.box2.mix div.box3_2.notitle,
div.box-wrap.box3.mix div.box3_1.notitle,
div.box-wrap.box3.mix div.box3_2.notitle,
div.box-wrap.box4.mix div.box4_1.notitle { display: block !important; background-color: #fff !important; }

/*パンくず*/
.breadcrumbs, .breadcrumbs a { color: #5A5A5A !important; }

/*ボックス*/
.box1_2,
.box3_1,
.box3_2,
.box1_1 { width: 100% !important; border: 1px solid #CCC !important; border-radius: 4px !important; background-color: #fff !important; }
div.box-wrap { width: 100% !important; }
div.box-wrap.box1.mix ul.entry-list-diary-l,
ul.entry-vertical-4,
div.box-wrap.box1.mix ul.entry-list-l { background-image: none !important; }
.box3_2 .box3_2{ border: none !important; margin-bottom:10px !important;}

/*ad*/
body.entry ul.ad-head-text { background: none !important; }

/*エントリーコンテンツ*/
.entry-page-unit .entry-contents{width : auto !important;}
ul.entry-page-unit ul.entry-data li { height: auto !important; }
ul.entry-page-unit ul.users span{ display:inline !important; font-size : 16px !important;}
ul.entry-page-unit ul.users { margin-top:18px !important; }
ul.entry-page-unit ul.entry-data li.category a,
ul.entry-page-unit ul.entry-data li.users a { line-height: 1 !important; }
body.entry .entry-page-unit .entry-contents { border-top: none !important; }
blockquote, blockquote a { color: #303030 !important; line-height: 1.5 !important; }
#entry-content a.pagelink{ display : block !important ;color : #0086DE !important; margin-left:0 !important;}

/*お気に入りのブックマーク*/
#favorite-bookmarks { padding-bottom: 0px !important; border-bottom: none !important; }
#favorite-bookmarks h4 { float: left !important; }
#favorite-bookmarks #favorite-bookmarks-inner { padding-top: 5px !important; }
#favorite-bookmarks #favorite-bookmarks-inner a { margin: 0 !important; }
#favorite-bookmarks #favorite-bookmarks-inner span { margin-left: 5px !important; }
#favorite-bookmarks img { width: 16px !important; height: 16px !important; }

/*みんなのブックマーク*/
#public-bookmarks { clear: both !important; }

/*タグ*/
.tags a.user-tag,
ul.entry-data li.tag a,
ul.entry-meta li.tag a { background: none !important; float: none !important; color: green !important; margin: 0!important; padding: 0 6px 0 0 !important; font-size: 100% !important; }
.tags a.user-tag:before,
ul.entry-data li.tag a:before,
ul.entry-meta li.tag a:before,
.tags a.user-tag:after,
ul.entry-data li.tag a:after,
 ul.entry-meta li.tag a:after { display: none !important; }
ul.entry-page-unit ul.entry-data li.tag::before { content: "タグ："; }

/*自分のコメント部分*/
.add-bookmark-container { border: none !important; }
.add-bookmark-container h4 { background: none !important; margin-bottom: 0 !important; }
.add-bookmark-container .comment-container { border: none !important; background: none !important; width: 860px !important; color: #333 !important; margin-top: 0!important; margin-left: 0!important; padding: 0 !important; }
.inplace-comment-controller .inplace-form .comment { border: 1px solid #dbdbdb !important; width: 680px !important; top: 0px !important; }
.add-bookmark-container .comment-container:before,
.add-bookmark-container .comment-container:after { display: none !important; }
.add-bookmark-container li.self .inplace-comment-controller { top: 0 !important; left: 600px !important; }
.add-bookmark-container li.self .comment-container .bookmark-appender-cancel { top: 0 !important; right: 52px !important; }
.add-bookmark-container li.self .comment-container input.bookmark-appender-submit { top: 0 !important; right: 0px !important; }
.add-bookmark-container li.self .comment-container.edit input.private,
.add-bookmark-container li.self .comment-container.edit .bookmark-appender-private,
.add-bookmark-container li.self .comment-container .char-count { top: 30px !important; }
.add-bookmark-container li.self .comment-container .char-count { left: 633px !important; }
#add-bookmark-container h4.entry-page-main-subtitle a.inner { color: #333 !important;}
.add-bookmark-container .header{ margin: 0 !important;}

/*カテゴリータイトルを青に*/
.box1_1 h2,
.box3_1 h2,
.box3_2 h2 { margin: 0!important; padding: 5px 0 5px 5px!important; display: block!important; background-color: #2C6EBD !important; line-height: 1 !important; }

/*ブコメ*/
#bookmarks { background: none !important; margin: 0 !important; }
#bookmarks h4 { background: none !important; }
#bookmarks .bookmark-list { padding: 0 !important; }
#bookmarks .bookmark-list li { margin: 0 !important; width : auto !important; }
#bookmarks .bookmark-list .header { width: auto !important; margin: 0 5px 0 0 !important; }
#bookmarks .comment-container { border: none !important; background: none !important; line-height: 1 !important; padding: 0 !important; margin: 0 !important; display: inline !important; float: none !important; }
#bookmarks .bookmark-list a.username,
.add-bookmark-container a.username { color: #427DC4 !important; font-size: 100% !important; }
#bookmarks .comment-container:before,
#bookmarks .comment-container:after { display: none !important; }
#bookmarks .tags { padding-left: 0 !important; background-image:none !important;}

/*xxx user*/
li.users { background-color: #FFCBCB !important; border-bottom: 1px solid #FF0707 !important; }
li.users a { color: #FF0707 !important; }
li.users a:hover { text-decoration: none !important; }
li.users strong { font-weight: bold !important; }

/*関連エントリー*/
div.box3_1 ul.entry-list-m li.entry-list { min-height: auto !important; position: relative; }
ul.entry-data li.date { line-height: 1!important; }
div.entry-contents { border: none !important; }
.entry-contents h3 { margin: 0 !important; clear: none !important; line-height: 1 !important; }

/*リンクカラー*/
div.entry-contents h3 a { color: #0056BD !important; }
div.entry-contents h3 a:visited { color: #838 !important; }
ul.entry-list-m { padding: 0 !important; }
ul.entry-meta { position: absolute; top: 5px !important; right: 5px !important; padding: 0 !important; border-bottom: none !important; }
ul.entry-meta li.tag { display: none !important; }
ul.entry-meta li.domain { margin: 0px 0px 3px 0 !important; }
ul.users{ border: none !important; height: auto !important; float: left !important; font-size: 9px !important; margin: 5px 0.5% !important; border-bottom: none !important; width: 10% !important; text-align: center !important; padding: 0!important; }
ul.users li { font-weight: bold !important; }
ul.users li a{ padding-left: 0 !important; color: #FF0707 !important; background-color: #FFCBCB; border-bottom: 1px solid #FF0707; },
ul.users strong span, ul.users em span, ul.users span { font-size: 9px !important; font-weight: bold !important; letter-spacing: 0px !important; margin-right: 0px !important; }
li.entry-list ul.users span { display: inline !important; }

/*こんなものいらない*/
.box3_1,
.box-wrap.box4,
div.box-wrap.box2.mix div.box3_1.notitle,
body.entry div.box-wrap.box1.mix { display: none!important; }

/*サイドバーを下に*/
#sidebar{display:block !important;}
#sidebar-inner{position: relative !important; width:auto !important; top:0 !important;}

/*関連エントリー関連*/
ul.entrylist-l li.entrylist-unit {padding: 5px 0px 5px 25px !important;}
ul.entrylist-l li.entrylist-unit ul.entry-data li.domain img.favicon {left:0 !important;}
ul.entrylist-l li.entrylist-unit h3,
ul.entrylist-l li.entrylist-unit ul.entry-data {display:inline !important;}
ul.entrylist-l li.entrylist-unit ul.entry-data li.category{display:none !important;}
ul.entrylist-l li.entrylist-unit ul.entry-data li.domain{line-height:1 !important;}
ul.users span{font-weight:bold !important; font-size:13px !important;}