@-moz-document url-prefix("http://b.hatena.ne.jp/") {
/*-----------------------------------------
Section 1
url("http://b.hatena.ne.jp/"), 
url-prefix("http://b.hatena.ne.jp/hotentry"),
url-prefix("http://b.hatena.ne.jp/entrylist"),
url-prefix("http://b.hatena.ne.jp/news")
-------------------------------------------*/
body{ font:13px/1.231 sans-serif !important;}

/*レイアウト*/
#container,
#global-header #header,
#navi-foot{width:95% !important; max-width:960px !important; margin:0 auto !important;} 
#main,
#branding{width:100% !important;}
#footer #copyright,
#footer .footer-link { position:relative!important;width:95% !important; max-width:960px !important; margin:0 auto !important;}

/*背景カラー*/
body { background-color: #F0F0F0 !important; }
.box3_2,
.box1_1{ background-color: white !important; }

/*ナビゲーション*/
.navi-wrap{overflow:visible !important;}
#navi-category,
#navi-foot-category{ height:auto !important; left:auto !important;}
#navi-category li,
#navi-foot-category li{ left:auto !important;}

/*リンクカラー*/
div.entry-contents h3 a { color: #0056BD !important; }
div.entry-contents h3 a:visited { color: #838 !important; }

/*非表示ブロック*/
div.entry-contents blockquote,
li.entry-unit ul.entry-comment,
li.entry-unit .follow.hb-favorites-appended,
.thumbnail,
.entry-unit.pseudo-entry-unit,
.topic-entryunit{ display: none !important; }

/*Amazonリンク*/
li.recommended { background-color:#FFEFD3 !important;}

/*復活*/
ul.entry-list-xl ul.entry-data { display: block !important; }

/*ボックスボーダー*/
.box1_2,
.box3_2,
.box1_1 { width: 100% !important; border: 1px solid #CCC !important; border-radius: 4px !important; }

/*背景画像ボーダー消す*/
div.box-wrap.box2.mix,
ul.entry-vertical-4,
ul.entry-vertical-3,
div.box1_1 li.more-entry { background-image: none !important; }

/*ヘッダentry,bookmark数*/
div#branding div#total { width: 50% !important; text-align: right !important; }

/*あとで読むアイコン*/
.readlater-button{position:absolute; left:-0.5em; top:1em;}

/*カテゴリータイトル*/
.box1_1 h2,
.box3_1 h2,
.box3_2 h2,
#appendix h3.unit-title{ margin: 0!important; padding: 5px 0 5px 5px!important; display: block!important; border-radius: 3px 3px 0 0 !important; line-height: 1 !important; background: url(/images/entry_title_bg.gif) top right #2c6ebd !important; }
.bnews h2 a,
#appendix h3.unit-title a,
.box1_1 h2 a{ color: #fff !important;}

/*おすすめサブカテゴリー*/
#pickup,.additional-unit{ display: none !important;}

/*新着ブックマーク*/
#appendix{ width: auto !important;}
#appendix div.box-wrap {margin-bottom:30px !important;}

/*カテゴリ別ホッテントリ*/
.box3_1 { width: 100% !important; margin: 0px !important; }
.entry-vertical-3,
.entry-list-m,
.entry-horizontal-s{ border: 1px solid #CCC !important; border-radius: 0 0 4px 4px !important; border-top: none !important; background-color: white !important; padding: 0 0 !important; }
.box3_1 h2 { margin: 15px 0 0 0 !important; }
.box-wrap.box3.mix { margin-top: 0 !important; }
li.entry-list { min-height: 1em !important; position: relative !important; border-bottom: 1px solid #ccc !important; }
li.entry-list:last-child { border-bottom: none !important; }
.box3_1 li.entry-list .entry-contents h3 { float: none !important; font-size: 116% !important; }
.box3_1 li.entry-list .entry-contents { border-top: none !important; }

/*エントリーリスト*/
ul.entry-data,
ul.entry-data li { margin: 0 0 0 0 !important; }
ul.entry-data li.date { line-height: 1.5 !important;}
.entry-contents h3 { margin: 0 !important; padding-right: 110px !important; clear: none !important; line-height: 1 !important; font-size: 116% !important;min-height:1em !important;}
.entry-vertical-3 { border: none !important; background: none !important; }
li.entry-unit { width: 100% !important; border-bottom: 1px solid #ccc !important; overflow: hidden !important; position: relative !important; }
li.entry-unit:last-child { border-bottom: none !important; }
li.entry-unit ul.users { border-bottom: none !important; }
ul.entry-list-xl,
ul.entry-list-l,
li.entry-unit { margin: 0 !important; }
li.entry-unit,
li.entry-list { clear: both !important; padding: 0 !important; min-height: 1em!important;border-bottom: 1px solid #ccc !important;}
ul.entry-list-xl { border-bottom: 1px solid #ccc !important; }
.shim-elem-for-height{height:1em!important;}
ul.entry-horizontal-l {min-height: 1em !important; padding:0!important;}
li.description{min-height: 1em !important; width:auto !important;}
body.category-social li.entry-unit ul.entry-data li.date, body.category-economics li.entry-unit ul.entry-data li.date, body.category-life li.entry-unit ul.entry-data li.date, body.category-knowledge li.entry-unit ul.entry-data li.date, body.category-it li.entry-unit ul.entry-data li.date, body.category-entertainment li.entry-unit ul.entry-data li.date, body.category-game li.entry-unit ul.entry-data li.date, body.category-fun li.entry-unit ul.entry-data li.date{margin:0 !important;}

ul.entry-meta { padding: 0 !important; border: none !important; }
ul.entry-meta li.domain { margin: 0px 0px 3px 0 !important; position: absolute !important; right: 5px !important; top: 3px !important; width:auto !important;}
ul.entry-meta li.tag { display:block !important; position: absolute !important; margin: 0 !important; right: 5px !important; top: 1.5em !important; color: #666 !important; font-size: 77% !important; }
ul.entry-meta li.tag:before { content: 'タグ：'; }
ul.entry-meta li.tag a, ul.entry-meta li.tag a:hover { background: none !important; color: green !important; margin: 0 0 0 5px !important; padding: 0 !important; float: none !important; font-size: 100% !important; }
ul.entry-meta li.tag a:before,
ul.entry-meta li.tag a:after { border: none !important; content: '' !important; }

a.video span.play { display: none !important; }

/*pr*/
ul.entry-data li.pr { font-size: 93% !important; line-height: 1 !important; }
/*ad*/
.ad-unit div,
.ad-unit iframe,
.ad-banner{width:auto !important;height:auto !important;}

/*カテゴリー・日付*/
ul.entry-data { padding: 4px 0 0 0 !important; min-height:1em !important; }
li.category { display: block !important; line-height: 1 !important;}
li.category a{margin-right: 5px !important; color: #FFFFFF !important;padding: 1px 7px !important; display: block !important; font-weight: normal !important; font-size:93% !important;}

/*レイアウト*/
.box-wrap{width:100% !important;}
.entry-contents { float: left !important; width: 80% !important; margin: 0 !important; padding: 5px 0 !important; border-bottom: none !important; min-height:0 !important; }

/*xxx user*/
ul.users { border: none !important; font-weight: bold !important; height: auto !important; float: left !important; font-size: 100% !important; margin: 8px 0.5% !important;padding: 0 !important; border-bottom: none !important; width: 10% !important; text-align: center !important; padding: 0!important; }
ul.users li { font-weight: bold !important;}
ul.users li a { padding: 0 !important; font-weight: bold !important; color: #FF0707 !important; background-color: #FFCBCB; border-bottom: 1px solid #FF0707; }
ul.users span { font-size: 100% !important; font-weight: bold !important; letter-spacing: 0px !important; margin-right: 0px !important; display:inline !important; }
ul.entry-horizontal-l ul.users li a{ padding: 0 !important;}

/*ranking*/
.ranking .users-small{margin:auto !important;}

/*もっと読む*/
li.more-entry { margin: 0 5px 0 5px !important; overflow: hidden !important; }
li.more-entry a {float: none !important; color: #383838 !important; padding: 10px 0 10px 0 !important; line-height: 1 !important; margin: 5px 0 5px 0px !important; }

/*-----------------------------------------
Section 1-2
url-prefix("http://b.hatena.ne.jp/entry/")
-------------------------------------------*/

.entry .box-wrap.box2.mix div.box3_1.notitle,
.entry .box-wrap.box2.mix div.box3_2.notitle,
.entry .box-wrap.box3.mix div.box3_1.notitle,
.entry .box-wrap.box3.mix div.box3_2.notitle,
.entry .box-wrap.box4.mix div.box4_1.notitle { display: block !important; background-color: #fff !important; }

/*パンくず*/
.entry .breadcrumbs, .entry .breadcrumbs a { color: #000 !important; }

/*ボックス*/
.entry .box3_2 .box3_2{ border: none !important; }

.entry .bookmark-list li { padding: 8px 10px 8px 25px !important; overflow: hidden; line-height: 1.3!important; }
.entry .bookmark-list li:nth-child(odd) { background-color: #F1F1F1 !important; }
.entry .bookmark-list img.profile-image { float: none !important; margin: 0 0 0 -20px !important; width: 16px !important; height: 16px !important; vertical-align: middle; }
.entry .bookmark-list li div.header, .comment-container { display: inline !important; }
.entry .bookmark-list span.comment { padding: 0 !important; color: #000 !important; font-size: 100% !important; line-height:1.5 !important; }
.entry #entry-content, #hatena-bookmark-entry blockquote { font-size: 100% !important; }

/*ad*/
.entry ul.ad-head-text { background: none !important; }
.entry #entry-info #ad { min-height: 1px !important; }
.entry .ads-entry { height:auto !important}

/*エントリーコンテンツ*/
.entry ul.entry-page-unit .entry-contents{width : 100% !important;padding: 18px 0 0 0 !important; border-top: none !important;}
.entry ul.entry-page-unit ul.entry-data li { height: auto !important; }
.entry ul.entry-page-unit ul.users span{ display:inline !important;}
.entry ul.entry-page-unit ul.users { margin-top:18px !important; position:absolute !important;}
.entry ul.entry-page-unit h3{ padding: 0 0 0 12% !important;min-height:1em !important;}
.entry ul.entry-page-unit ul.entry-data li.category a,

.entry ul.entry-page-unit ul.entry-data li.users a { line-height: 1 !important; }
.entry ul.entry-page-unit .thumbnail,
.entry ul.entry-page-unit blockquote{ display : block !important;}
.entry ul.entry-page-unit blockquote,
.entry ul.entry-page-unit blockquote a { color: #000 !important; line-height: 1.5 !important; }
.entry ul.entry-page-unit .thumbnail{ margin:0 20px 0 5px !important;}
.entry ul.entry-page-unit a.pagelink{ display : block !important ;color : #0086DE !important; margin-left:0 !important;}
.entry ul.entry-page-unit li.category a{padding: 3px 7px !important;}
.entry ul.entry-page-unit .entry-data li.tag{ clear:none !important;}
/*このエントリーに含まれている商品*/
.entry #asin-rel-item{ display:none !important;}
/*このページの情報*/
.entry #entry-info p{color:#000 !important;}
.entry .thumbnail{display:block!important;}
.entry #folded-content{display:block!important;}
.entry #content-ellipsis{display:none!important;}

/*h2タイトル青背景*/
.entry .box1_1 h2,
.entry .box3_1 h2,
.entry .box3_2 h2 { border-radius: 0 !important;}

/*お気に入りのブックマーク*/
.entry #favorite-bookmarks { padding-bottom: 0px !important; border-bottom: none !important; }
.entry #favorite-bookmarks h4 { float: left !important; }
.entry #favorite-bookmarks #favorite-bookmarks-inner { padding-top: 5px !important; }
.entry #favorite-bookmarks #favorite-bookmarks-inner a { margin: 0 !important; }
.entry #favorite-bookmarks #favorite-bookmarks-inner span { margin-left: 5px !important; }
.entry #favorite-bookmarks img { width: 16px !important; height: 16px !important; }

/*みんなのブックマーク*/
.entry #public-bookmarks { clear: both !important; }

/*タグ*/
.entry ul.entry-data li.tag {margin: 0 !important; }
.entry .tags a.user-tag,
.entry ul.entry-data li.tag a,
.entry ul.entry-meta li.tag a { background: none !important; float: none !important; color: green !important; margin: 0!important; padding: 0 6px 0 0 !important; font-size: 100% !important; }
.entry .tags a.user-tag:before,
.entry ul.entry-data li.tag a:before,
.entry ul.entry-meta li.tag a:before,
.entry .tags a.user-tag:after,
.entry ul.entry-data li.tag a:after,
.entry ul.entry-meta li.tag a:after { display: none !important; }
.entry ul.entry-page-unit ul.entry-data li.tag:before { content: "タグ："; }

/*自分のコメント部分*/
.entry .add-bookmark-container { border: none !important; }
.entry .add-bookmark-container h4 { background: none !important; margin-bottom: 0 !important; }
.entry .add-bookmark-container .comment-container { border: none !important; background: none !important; width: 90% !important; color: #333 !important; margin-top: 0!important; margin-left: 0!important; padding: 0 !important; }
.entry .inplace-comment-controller .inplace-form .comment { border: 1px solid #dbdbdb !important; width: 90% !important; top: 0px !important; }
.entry .add-bookmark-container .comment-container:before,
.entry .add-bookmark-container .comment-container:after { display: none !important; }
.entry .add-bookmark-container li.self .inplace-comment-controller { top: 0 !important; left: 600px !important; }
.entry .add-bookmark-container li.self .comment-container .bookmark-appender-cancel { top: 0 !important; right: 52px !important; }
.entry .add-bookmark-container li.self .comment-container input.bookmark-appender-submit { top: 0 !important; right: 0px !important; }
.entry .add-bookmark-container li.self .comment-container.edit input.private,
.entry .add-bookmark-container li.self .comment-container.edit .bookmark-appender-private,
.entry .add-bookmark-container li.self .comment-container .char-count { top: 30px !important; }
.entry .add-bookmark-container li.self .comment-container .char-count { left: 633px !important; }
.entry #add-bookmark-container h4.entry-page-main-subtitle a.inner { color: #333 !important;}
.entry .add-bookmark-container .header{ margin: 0 !important;}
.entry .add-bookmark-form textarea#comment{width:90% !important;}
.entry .add-bookmark-form textarea#comment{color: #000 !important;}


/*カテゴリータイトルを青に*/
.entry .box1_1 h2,
.entry .box3_1 h2,
.entry .box3_2 h2 { margin: 0!important; padding: 5px 0 5px 5px!important; display: block!important; background-color: #2C6EBD !important; line-height: 1 !important; }

/*ブコメ*/
.entry #scored-bookmarks{ clear:both !important;}
.entry #bookmarks { background: none !important; margin: 0 !important; }
.entry #bookmarks h4 { background: none !important; }
.entry #bookmarks .bookmark-list { padding: 0 !important; }
.entry #bookmarks .bookmark-list li { margin: 0 !important; width : auto !important; }
.entry #bookmarks .bookmark-list .header { width: auto !important; margin: 0 5px 0 0 !important; }
.entry #bookmarks .comment-container { border: none !important; background: none !important; line-height: 1 !important; padding: 0 !important; margin: 0 !important; display: inline !important; float: none !important; }
.entry #bookmarks .bookmark-list a.username,
.entry .add-bookmark-container a.username { color: #427DC4 !important; font-size: 100% !important; }
.entry #bookmarks .comment-container:before,
.entry #bookmarks .comment-container:after { display: none !important; }
.entry #bookmarks .tags { padding-left: 0 !important; background-image:none !important;}
.entry #bookmarks .profile-icon{ margin:0 !important;}

/*xxx user*/
.entry .users{ background-color: #FFCBCB !important; width:10% !important; height:auto !important; border-top:none !important; border-bottom: 1px solid #FF0707 !important; font-weight:bold !important; float: left !important;text-align: center !important;text-transform: uppercase; padding:0 !important; margin-right:5px !important;}
.entry .users span{ display:inline !important;font-weight:bold !important;}
.entry .users a { color: #FF0707 !important; border-top:none !important;font-weight:bold !important; font-size:85% !important;}

/*関連エントリー*/
.entry li.entry-list { min-height: 1em !important; position: relative !important; padding: 5px !important;}
.entry ul.entry-data li.date { line-height: 1!important; }
.entry .entry-contents { border: none !important; }
.entry .entry-contents h3 { margin: 0 !important; clear: none !important; line-height: 1.2 !important; }

/*entry-meta,entry-data*/
.entry .entry-data,
.entry .entry-meta{ display:inline !important; float:none !important;}
.entry .entry-meta{ position:absolute !important; right:0 !important; top:0.4em !important; margin:0 !important; padding:0 !important;}
.entry .favicon {position: relative !important;top: auto !important;left: auto !important; vertical-align:middle !important;}
.entry li.entrylist-unit ul.entry-data li.category{ display:none !important;}
.entry .user-comment-meta{ display:inline !important;}

/*リンクカラー*/
.entry .entry-contents h3 a { color: #0056BD !important; }
.entry .entry-contents h3 a:visited { color: #838 !important; }

.entry ul.entry-list-m { padding: 0 !important; }

/*こんなものいらない*/
.entry .box3_1,
.entry .box-wrap.box4,
.entry .box-wrap.box2.mix div.box3_1.notitle,
.entry .box-wrap.box1.mix { display: none!important; }

/*サイドバーを下に*/
.entry #sidebar{display:block !important;}
.entry #sidebar-inner{position: relative !important; width:auto !important; top:0 !important;}

/*関連エントリー関連*/
.entry ul.entrylist-l li.entrylist-unit {padding: 5px 0px !important;border-bottom: 1px solid #ECECEC !important;}
.entry ul.entrylist-l li.entrylist-unit h3{line-height: 1 !important;}
.entry ul.entrylist-l li.entrylist-unit h3 a{color:#0056BD !important; font-weight:bold !important;}
.entry ul.users span{font-weight:bold !important; font-size:100% !important;}
.entry ul.entry-list-diary-l div.user-icon,
.entry div.user-icon a img{width:16px !important; height:16px !important;vertical-align: middle !important;}
.entry ul.entry-list-diary-l div.entry-contents {padding-left:25px !important;}
.entry div.box3_1 li.entry-list div.entry-contents{margin: 0 0 0 0 !important;}
.entry ul.entry-meta li.domain{position:relative !important;}

/*マイページ*/
#hatena-bookmark-user-page,
#hatena-bookmark-user-page .wrapper-container-inner{background-color:#fff !important;}
#hatena-bookmark-user-page .entry-summary{line-height:1.5 !important;}
/*設定ページ*/
#hatena-bookmark-config-global{background-color:#fff !important;}
/*ヘルプページなど*/
#sidebar{width:100%!important;margin-left: 0!important;}
}